:root
{
    --color-gray:#757575;
    --color-black:#000000;
    --color-blue:#2196F3;
    --color-backgroung:#2F303A;
    --color-c6:#188CE8;
}

body
{
    font-family: 'Roboto', sans-serif;
    color: #ffff;
}



/* ---------HEADER -------*/



.header a
{
    text-decoration: none;
}
.body li
{
    list-style: none;
}
.logo 
{
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.logo-web 
{
    color:var(--color-blue)
}
.logo-studio 
{
    color:var(--color-black)
}

.header-nav-link
{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    cursor: pointer;
    color:var(--color-black)
}
.header-nav-link:hover,
.header-nav-link:focus
{
   color:var(--color-blue)
}
 
.header-contacts-core 
{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
    color:var(--color-gray)
}
.header-contacts-core:hover,
.header-contacts-core:focus
{
    color:var(--color-blue)
}


/* -------------HERO------------- */

.hero 
{
    background: var(--color-backgroung)
}
.hero-title 
{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn 
{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    background: var(--color-blue)
}
.hero-btn:hover,
.hero-btn:focus
{
    background:var(--color-c6)
}




/* --------------FEATURES------------- */

.feature-title 
{
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-black)
}
.feature-subtitle 
{
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--color-gray)
}



/* ----------PICTURES-------- */

.pictures-title 
{

    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black)
}





/* -------------TEAM----------- */



.team-title {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black)
}

.team-second-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black)
}
.team-subtitel 
{
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-gray)
}

/* --------FOOTER -----------*/

.footer a
{
    text-decoration: none;
}
.footer
{
    background: var(--color-backgroung)
}
.footer-studio
{
    color: #ffff
}
.footer-address
{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-address:hover,
.footer-address:focus
{
    color: var(--color-blue);
}
.footer-contacts
{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus
{
    color: var(--color-blue);
}


/* ----------Portfolio------------ */


.portfolio-btn 
{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: var(--color-black)
  
}

.portfolio-btn:hover,
.portfolio-btn:focus
{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--color-white);
}

.portfolio-title 
{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--color-black)
}
.portfolio-subtitle
{
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--color-gray)
}

